{% extends 'layout.html.twig' %}

{% block title 'Network - ' %}

{% block header %}
    <h1>Network
        <small>of one person</small>
    </h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Request ID</p>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        {#form for requesting one specific personID#}
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input type="number" class="form-control" id="personID" placeholder="Enter ID">
                            </div>
                            <input type="button" class="btn btn-default" onclick="getNetworkForPerson()">Request</input>
                        </form>
                    </div>
                    <div class="col-md-4">
                        {#dropdown select#}
                        <form role="form">
                            <div class="form-group">
                                <label for="sel1">Friends-degree:</label>
                                <select class="form-control" id="friendsDegree">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h6>Filter by timestamp:</h6>
                        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1199145600" data-slider-max="1262304000" data-slider-step="1" data-slider-value="1262304000"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Network </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    {#The Graph Network stuff#}
                    <div class="col-md-6" id="graphDisplay">

                    </div>

                    {#The charts#}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h5>Statistics</h5></div>
                            <div class="row">
                                <div class="col-md-12" id="timeDistributionChart">
                                    <script>displayTimeDistributionChart()</script>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="avgDegreeCentralityChart">
                                    <script>displayAvgDegreeCentralityChart()</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}